<nav class="navbar navbar-expand fixed-top" data-ng-init="loadCurrentUser()">
  <a class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" >
    <i class="fas fa-2x fa-bars"></i>
  </a>

  <a class="navbar-brand mr-1" href="/" ><b>KeyWestNMS</b></a>
  <!-- Navbar Search -->

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow mx-2 mt-2">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
<!--
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
-->
    </li>

    <li class="nav-item mt-1 no-arrow">

      <a href="#"> {{ currentUser }} </a> <br>
      <!--<a href="#" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out-alt"></i> Logout</a>-->
      <a href="j_spring_security_logout"><i class="fa fa-sign-out-alt"></i> Logout</a>

    </li>

  </ul>

</nav>

<div id="wrapper">

  <!-- Sidebar -->

  <ul class="sidebar navbar-nav" id="sidebarnav">
    <li class="nav-item dropdown" ui-sref-active="active" ng-click="vm.sideBar();" data-ng-repeat="menu in vm.menuItems">
      <a ui-sref="app.{{menu.state}}" class="nav-link {{menu.sub && 'dropdown-toggle' || ''}}" data-toggle="{{menu.sub && 'dropdown' || ''}}">
        <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.title}}</span>
      </a>
      <div class="dropdown-menu" ng-show="menu.sub">
        <a ng-repeat="subItem in menu.sub" class="dropdown-item" ui-sref="app.{{subItem.state}}" >{{subItem.title}}</a>

        </a>
      </div>
    </li>
  </ul>




  <div id="content-wrapper">

    <div class="container-fluid">


      <ui-view></ui-view>


    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>All Rights Reserved by KeyWestNMS. Designed and Developed by Hitsquad. </span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->






<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/login.html">Logout</a>
      </div>
    </div>
  </div>
</div>


