<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Dashboard </h4>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<hr>
<section class="content">
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row mainData">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="card text-center outage">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3 col-sm-6 text-orange">
                    <h6>Outage</h6>
                    <hr/>
                    <h4>{{ vm.dashboard.outagesCount }}</h4>
                  </div>
                  <div class="col-md-3 col-sm-6 text-red">
                    <h6>Disconnected</h6>
                    <hr/>
                    <h4>{{ vm.dashboard.inactiveNodes }}</h4>
                  </div>
                  <div class="col-md-3 col-sm-6 text-green">
                    <h6>Good</h6>
                    <hr/>
                    <h4>{{ vm.dashboard.activeNodes }}</h4>
                  </div>
                  <div class="col-md-3 col-sm-6 text-default">
                    <h6>Unassigned</h6>
                    <hr/>
                    <h4>{{ vm.dashboard.unprovisionedNodes }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h4>Last 24 Hrs Alarms:</h4>
                  </div>
                  <div class="col-md-4">
                    <div class="peity_line_neutral text-center text-red">
                      <h6>Critical</h6>
                      <hr/>
                      <h4>{{ vm.dashboard.alarms_s7 }}</h4>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="peity_line_neutral text-center text-orange">
                      <h6>Major</h6>
                      <hr/>
                      <h4>{{ vm.dashboard.alarms_s6 }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 col-lg-4" data-ng-repeat="data in vm.dashboard.productStatus">
                  <div class="card card-hover">
                    <div class="box">
                      <h1 class="font-light text-violet"><i class="mdi {{data.icon}}"></i> {{data.title}}</h1>
                      <hr/>
                      <div class="row">
                        <div class="col-md-4 border-left text-center p-t-10">
                          <h3 class="mb-0">{{data.total}}</h3>
                          <span class="text-muted">Total</span>
                        </div>

                        <div class="col-md-4 border-left text-center p-t-10">
                          <h3 class="mb-0">{{data.down}} <i class="mdi mdi-arrow-down text-red"></i></h3>
                          <span class="text-muted">Down</span>
                        </div>

                        <div class="col-md-4 border-left text-center p-t-10">
                          <h3 class="mb-0">{{data.up}} <i class="mdi mdi-arrow-up text-green"></i></h3>
                          <span class="text-muted">Up</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-lg-4" data-ng-repeat="data in vm.dashboard.chart">
                  <div class="card">
                    <div class="box">
                      <!--<h1 class="font-light text-violet"><i class="mdi {{data.icon}}"></i> {{data.title}}</h1>-->
                      <div id="chartdiv{{data.chartnumber}}" class="chartdiv"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title m-b-0">Events</h4>
                </div>
                <ul class="list-style-none">
                  <li class="" data-ng-repeat="event in vm.dashboard.events" style="padding:10px;">
                    <div class="panel panel-default event-panel-{{event.severity}}"
                         style="background: #f4f4f4; border-radius: 5px;" title="{{event.severity}}">
                      <div class="panel-heading" style="padding:10px;">
                        <h6>{{event.ipaddress}} <span class="float-right">{{event.time}}</span></h6>
                      </div>
                      <div class="panel-body" style="padding:10px;">{{event.message}}</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>


    <!-- ============================================================== -->
    <!-- End PAge Content -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</section>


<!-- Chart code -->
<script>
$(document).ready(function() {
  var gaugeChart1 = AmCharts.makeChart("chartdiv1", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });


  var gaugeChart2 = AmCharts.makeChart("chartdiv2", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });

  var gaugeChart3 = AmCharts.makeChart("chartdiv3", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });

});


</script>

