<section class="content" id="dashboardContent">
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class=""> 
    <div class="row no-gutter counts">
      <div class="col-md-7">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                        <p> Outage</p>
                        <h3 class="text-warning">{{ vm.dashboard.outagesCount }}</h3>
                    </div>
                    <div class="col-md-2">
                        <p> Disconnected</p>
                        <h3 class="text-danger">{{ vm.dashboard.inactiveNodes }}</h3>
                    </div>
                    <div class="col-md-2 ">
                        <p> Good</p>
                        <h3 class="text-success">{{ vm.dashboard.activeNodes }}</h3>
                    </div>
                    <div class="col-md-2 ">
                        <p> Unassigned</p>
                        <h3 class="text-dark">{{ vm.dashboard.unprovisionedNodes }}</h3>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-4" data-ng-repeat="data in vm.dashboard.productStatus">
                    <div class="card productStatus">
                        <div class="card-body">
                          <h5 class="card-title text-info"><i class="fa {{data.icon}}"></i> {{data.title}} </h5>
                          <div class="row">
                              <div class="col-md-4 border-right text-dark text-center">
                                  <h6 class="card-subtitle">Total</h6>
                                  <h3 class="card-text ">{{data.total}}</h3>  
                              </div>
                              <div class="col-md-4 border-right text-center">
                                  <h6 class="card-subtitle">Down </h6>
                                  <h3 class="card-text text-danger">{{data.down}}</h3>  
                              </div>
                              <div class="col-md-4 text-center">
                                  <h6 class="card-subtitle">Up </h6>
                                  <h3 class="card-text text-success">{{data.up}} </h3>  
                              </div>
                          </div>
                                                 
                        </div>
                    </div>
                 </div>
            </div>   
            <div class="row">
              <div class="col-md-4 col-lg-4" data-ng-repeat="data in vm.dashboard.chart">
                <div class="card">
                  <div class="box">
                    <!--<h1 class="font-light text-violet"><i class="mdi {{data.icon}}"></i> {{data.title}}</h1>-->
                    <div id="chartdiv{{data.chartnumber}}" class="chartdiv"></div>
                  </div>
                </div>
              </div>
            </div>        

      </div>
      <div class="col-md-5">
          <div class="card ">
              <div class="card-header bg-info text-white ">Events
                  <div class="actions">
                      <span class="badge badge-danger text-white"> Critical : {{ vm.dashboard.alarms_s7 }}</span> 
                       <span class="badge badge-warning text-white">Major: {{ vm.dashboard.alarms_s6 }}</span>
                     
                   </div>

                  </div>
              <div class="card-body">
                  <div class="card events mb-1 border-left event-{{event.severity}}" data-ng-repeat="event in vm.dashboard.events">
                      <div class="card-header">
                          <a href="" ng-click="showNode(event.nodeId,'app.dashboard')">{{event.ipaddress}}</a>
                         <div class="actions">
                            <span class="text-muted"> {{event.time}}  </span>
                         </div>
                      </div>
                      <div class="card-body">
                         {{event.message}}
                      </div>
                  </div>

              </div>
            </div>

      </div>

    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</section>


<!-- Chart code -->
<script>
angular.element(document).ready(function() {
  //console.log('doc ready called');

  var ptpChart = AmCharts.makeChart("chartdiv1", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });
  angular.element('#dashboardContent').scope().vm.chart_ptp = ptpChart;

  var ptmpChart = AmCharts.makeChart("chartdiv2", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });
  angular.element('#dashboardContent').scope().vm.chart_ptmp = ptmpChart;


  var wifiChart = AmCharts.makeChart("chartdiv3", {
    "type": "gauge",
    "theme": "light",
    "axes": [{
      "axisAlpha": 0,
      "tickAlpha": 0,
      "labelsEnabled": false,
      "startValue": 0,
      "endValue": 100,
      "startAngle": 0,
      "endAngle": 270,
      "bands": [{
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "100%",
        "innerRadius": "85%"
      }, {
        "color": "#84b761",
        "startValue": 0,
        "endValue": 80,
        "radius": "100%",
        "innerRadius": "85%",
        "balloonText": "90%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "80%",
        "innerRadius": "65%"
      }, {
        "color": "#fdd400",
        "startValue": 0,
        "endValue": 35,
        "radius": "80%",
        "innerRadius": "65%",
        "balloonText": "35%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "60%",
        "innerRadius": "45%"
      }, {
        "color": "#cc4748",
        "startValue": 0,
        "endValue": 92,
        "radius": "60%",
        "innerRadius": "45%",
        "balloonText": "92%"
      }, {
        "color": "#eee",
        "startValue": 0,
        "endValue": 100,
        "radius": "40%",
        "innerRadius": "25%"
      }, {
        "color": "#67b7dc",
        "startValue": 0,
        "endValue": 68,
        "radius": "40%",
        "innerRadius": "25%",
        "balloonText": "68%"
      }]
    }],
    "legend": {
      "data": [
        {title: "30 - 70", color: "#84b761"},
        {title: "70 - 120", color: "#fdd400"},
        {title: "120 - 160", color: "#cc4748"},
        {title: "160 - 200", color: "#67b7dc"},
      ]
    },
    "export": {
      "enabled": true
    }
  });
  angular.element('#dashboardContent').scope().vm.chart_wifi = wifiChart;


});


</script>

