<!-- Main content -->
<section class="content" data-ng-init="loadEvents()">
  
       <div class="row">
          <div class="col-md-12">
             <div class="card">
                <div class="card-header bg-info text-white"> Events 
                    <div class="actions">                       
                        <button data-ng-click="loadEvents()" type="button" class="btn btn-secondary btn-sm" ><i class="fa fa-sync"></i>&nbsp;Reload</button>
                     </div>

                </div>
                <div class="card-body">
                  <div class="row mb-1">
                    <div class="col-md-6">
                       Filter By: <select class="hselect" data-ng-model="vm.eventsFilter">  
                            <option value="events">Events</option>
                            <option value="syslogs">Syslogs</option>
                          </select>
                    </div>
                    <div class="col-md-6 text-right">
                       Show <select class="hselect" data-ng-model="vm.pageSize">                         
                          <option value="10">10</option>
                          <option value="20">20</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>  Entries
                    </div>
                   
                  </div>

                  <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Severity</th>
                            <th scope="col">Time</th>
                            <th scope="col">Node</th>
                            <th scope="col">Message</th>
                          </tr>
                        </thead>
                        <tbody class="customtable">
                          <tr data-ng-repeat="event in vm.events">
                            <td class="events border-left event-{{ event.severity }}">{{ event.id }}</td>
                            <td>{{ event.severity }}</td>
                            <td>{{ event.time | date: 'yyyy-MM-dd HH:mm:ss.sss' }}</td>
                            <td>{{ event.nodeLabel && event.nodeLabel || event.ipAddress }}</td>
                            <td>{{ event.logMessage }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                   

                     

                    
                </div>
             </div>
          </div>         
       </div>
       
      
   
 </section>
 
