<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Management </h4>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin:10px; padding: 20px;">
          <div class="card-body" style="background:#663399; color:#fff;">
            <h5 class="card-title m-b-0" ">Discovery</h5>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> Select</th>
                <th scope="col">Start IP Address</th>
                <th scope="col">End IP Address</th>
                <th scope="col">Time Out(sec)</th>
                <th scope="col">Region Id</th>
                <th scope="col">Faculty Id Id</th>
                <th scope="col">Retries</th>
                <th scope="col">Actions</th>
                <th scope="col">Add</th>
              </tr>
              </thead>
              <tbody class="customtable">
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              </tbody>
            </table>
            <center>
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Discover</button>
            </center>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="card-body" style="background:#663399; color:#fff;">
                  <h5 class="card-title m-b-0" ">Typology</h5>
                </div>
              </div>
              <div class="panel-body">
                <!-- TREEVIEW CODE -->
                <ul class="treeview">
                  <li><a href="#">Tree</a>
                    <ul>
                      <li><a href="#">Branch</a></li>
                      <li><a href="#">Branch</a>
                        <ul>
                          <li><a href="#">Stick</a></li>
                          <li><a href="#">Stick</a></li>
                          <li><a href="#">Stick</a>
                            <ul>
                              <li><a href="#">Twig</a></li>
                              <li><a href="#">Twig</a></li>
                              <li><a href="#">Twig</a></li>
                              <li><a href="#">Twig</a>
                                <ul>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                  <li><a href="#">Leaf</a></li>
                                </ul>
                              </li>
                              <li><a href="#">Twig</a></li>
                              <li><a href="#">Twig</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Stick</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Branch</a></li>
                      <li><a href="#">Branch</a></li>
                    </ul>
                  </li>
                </ul>
                <!-- TREEVIEW CODE -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                  <th scope="col"> Select</th>
                  <th scope="col">Start IP Address</th>
                  <th scope="col">End IP Address</th>
                  <th scope="col">Time Out(sec)</th>
                  <th scope="col">Region Id</th>
                  <th scope="col">Faculty Id Id</th>
                  <th scope="col">Retries</th>
                  <th scope="col">Actions</th>
                  <th scope="col">Add</th>
                </tr>
                </thead>
                <tbody class="customtable">
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label class="customcheckbox">
                      <input type="checkbox" class="listCheckbox"/>
                      <span class="checkmark"></span>
                    </label> Profile1
                  </th>
                  <td>192.168.0.1</td>
                  <td>192.168.0.15</td>
                  <td>20</td>
                  <td>Hyderabad</td>
                  <td>Madhapur</td>
                  <td>5</td>
                  <td>
                    <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                    <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <center>
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Discover</button>
              </center>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

