<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Management </h4>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Main content -->
<section class="content" data-ng-init="init()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin:10px; padding: 20px;">
          <div class="card-body" style="background:#663399; color:#fff;">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title m-b-0">Discovery</h5>
                <a class="btn btn-primary" href="/opennms/admin/discovery/edit-config-2.jsp">Open Discovery Configuration</a>
              </div>
              <div class="col-md-6">
                <h5 class="card-title m-b-0">SNMP Configuration</h5>
                <a class="btn btn-primary" href="/opennms/admin/snmpConfig?action=default">Open SNMP Configuration</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="card-body" style="background:#663399; color:#fff;">
                  <h5 class="card-title m-b-0">Topology</h5>
                </div>
              </div>
              <div class="panel-body">
                <!-- TREEVIEW CODE -->
                <div
                    data-angular-treeview="true"
                    data-tree-id="mytree"
                    data-tree-model="treedata"
                    data-node-id="data.id"
                    data-node-label="text"
                    data-node-children="children" >
                </div>
                <!--<div>Selected: {{ mytree.currentNode.data.id }}, {{ mytree.currentNode.text }}</div>-->
                <!-- TREEVIEW CODE -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <button class="btn btn-default" onclick="javascript:showReport()" id="reportButton">Show Report</button>
          <button class="btn btn-default" onclick="javascript:showMap()" id="mapButton">Show Map</button>
        </div>
        <!-- mapCard -->
        <div class="card" id="mapCard">
          <div class="card-header" style="background:#663399; color:#fff;">
            <h5 class="card-title m-b-0">Map</h5>
          </div>
          <div class="card-body">
            <div id="map" style="height:400px"></div>
          </div>
        </div>
        <!-- dataCard -->
        <div class="card" id="reportCard">
          <div class="card-header" style="background:#663399; color:#fff;">
            <div class="row">
              <div class="col-sm-3"><h5 class="card-title m-b-0">Inventory</h5></div>
              <div class="col-sm-3"><h5 class="card-title m-b-0">Total: {{vm.totalNodesCount}}</h5></div>
              <div class="col-sm-2"><h5 class="card-title m-b-0">Active: {{vm.activeNodesCount}}</h5></div>
              <div class="col-sm-2"><h5 class="card-title m-b-0">In-active: {{vm.totalNodesCount - vm.activeNodesCount}}</h5></div>
              <div class="col-sm-2" style="text-align: right">
                <select data-ng-model="limit" data-ng-change="loadNodes()">
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">System Name</th>
                  <th scope="col">IP Address</th>
                  <th scope="col">Serial Number</th>
                  <th scope="col">MAC Address</th>
                  <th scope="col">Model</th>
                  <th scope="col">Firmware</th>
                  <th scope="col">Channel</th>
                  <th scope="col">Bandwidth</th>
                  <th scope="col">Ethernet Speed</th>
                  <th scope="col">I/O Bandwidth Limit</th>
                  <th scope="col">Modulation</th>
                  <th scope="col">Operation Mode</th>
                </tr>
              </thead>
              <tbody class="customtable">
                <tr data-ng-repeat="node in vm.nodes">
                  <td>{{node.sysName}}</td>
                  <td>{{node.primaryIP}}</td>
                  <td>{{node.assetRecord.serialNumber}}</td>
                  <td>{{node.macAddress}}</td>
                  <td>{{node.assetRecord.modelNumber}}</td>
                  <td>{{node.assetRecord.firmware}}</td>
                  <td>{{node.channel}}</td>
                  <td>{{node.bandwidth}}</td>
                  <td>{{node.assetRecord.ethernetSpeed}}</td>
                  <td>{{node.assetRecord.ioBandwidthLimit}}</td>
                  <td>{{node.assetRecord.modulation}}</td>
                  <td>{{node.opMode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function showReport() {
    $('#mapCard').hide();
    $('#reportButton').hide();
    $('#mapButton').show();
    $('#reportCard').show();
  }

  function showMap() {
    $('#reportCard').hide();
    $('#mapButton').hide();
    $('#reportButton').show();
    $('#mapCard').show();
  }

$(document).ready(function() {
  $('#reportCard').hide();
  $('#mapButton').hide();
});

</script>