<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h4 class="page-title">Management </h4>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- Main content -->
<section class="content" data-ng-init="init()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="margin:10px; padding: 20px;">
          <div class="card-body" style="background:#663399; color:#fff;">
            <h5 class="card-title m-b-0">Discovery</h5>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr>
                <th scope="col"> Select</th>
                <th scope="col">Start IP Address</th>
                <th scope="col">End IP Address</th>
                <th scope="col">Time Out(sec)</th>
                <th scope="col">Region Id</th>
                <th scope="col">Faculty Id Id</th>
                <th scope="col">Retries</th>
                <th scope="col">Actions</th>
                <th scope="col">Add</th>
              </tr>
              </thead>
              <tbody class="customtable">
              <tr>
                <th>
                  <label class="customcheckbox">
                    <input type="checkbox" class="listCheckbox"/>
                    <span class="checkmark"></span>
                  </label> Profile1
                </th>
                <td>192.168.0.1</td>
                <td>192.168.0.15</td>
                <td>20</td>
                <td>Hyderabad</td>
                <td>Madhapur</td>
                <td>5</td>
                <td>
                  <a href="#"> <i class="fa fa-edit"> </i> Edit </a> &nbsp; &nbsp;
                  <a href="#"> <i class="fa fa-trash"> </i> Delete </a>
                </td>
              </tr>
              </tbody>
            </table>
            <center>
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Discover</button>
            </center>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="card-body" style="background:#663399; color:#fff;">
                  <h5 class="card-title m-b-0">Topology</h5>
                </div>
              </div>
              <div class="panel-body">
                <!-- TREEVIEW CODE -->
                <ul class="treeview">
                  <li><a href="#">Global</a>
                    <ul>
                      <li data-ng-repeat="tregion in vm.tregions"><a data-ng-click="loadTreeLocations(tregion.data.id)">{{ tregion.text }}</a>
                        <ul>
                          <li data-ng-repeat="tlocation in vm.tlocations"><a data-ng-click="loadTreeNodes(tlocation.data.id)">{{ tlocation.text }}</a>
                            <ul>
                              <li data-ng-repeat="tnode in vm.tnodes"><a href="#">{{ tnode.text }}</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!-- TREEVIEW CODE -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <button class="btn btn-default" onclick="javascript:showReport()" id="reportButton">Show Report</button>
          <button class="btn btn-default" onclick="javascript:showMap()" id="mapButton">Show Map</button>
        </div>
        <!-- mapCard -->
        <div class="card" id="mapCard">
          <div class="card-header" style="background:#663399; color:#fff;">
            <h5 class="card-title m-b-0">Map</h5>
          </div>
          <div class="card-body">
            <div id="map" style="height:400px"></div>
          </div>
        </div>
        <!-- dataCard -->
        <div class="card" id="dataCard">
          <div class="card-header" style="background:#663399; color:#fff;">
            <div class="row">
              <div class="col-sm-3"><h5 class="card-title m-b-0">Inventory</h5></div>
              <div class="col-sm-3"><h5 class="card-title m-b-0">Total: {{vm.totalNodesCount}}</h5></div>
              <div class="col-sm-2"><h5 class="card-title m-b-0">Active: {{vm.activeNodesCount}}</h5></div>
              <div class="col-sm-2"><h5 class="card-title m-b-0">In-active: {{vm.totalNodesCount - vm.activeNodesCount}}</h5></div>
              <div class="col-sm-2" style="text-align: right">
                <select data-ng-model="limit" data-ng-change="loadNodes()">
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                  <option>100</option>
                </select>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">System Name</th>
                  <th scope="col">IP Address</th>
                  <th scope="col">Serial Number</th>
                  <th scope="col">MAC Address</th>
                  <th scope="col">Model</th>
                  <th scope="col">Firmware</th>
                  <th scope="col">Channel</th>
                  <th scope="col">Bandwidth</th>
                  <th scope="col">Ethernet Speed</th>
                  <th scope="col">I/O Bandwidth Limit</th>
                  <th scope="col">Modulation</th>
                  <th scope="col">Operation Mode</th>
                </tr>
              </thead>
              <tbody class="customtable">
                <tr data-ng-repeat="node in vm.nodes">
                  <td>{{node.sysName}}</td>
                  <td>{{node.primaryIP}}</td>
                  <td>{{node.assetRecord.serialNumber}}</td>
                  <td>{{node.macAddress}}</td>
                  <td>{{node.assetRecord.modelNumber}}</td>
                  <td>{{node.assetRecord.firmware}}</td>
                  <td>{{node.channel}}</td>
                  <td>{{node.bandwidth}}</td>
                  <td>{{node.assetRecord.ethernetSpeed}}</td>
                  <td>{{node.assetRecord.ioBandwidthLimit}}</td>
                  <td>{{node.assetRecord.modulation}}</td>
                  <td>{{node.opMode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function showReport() {
    $('#mapCard').hide();
    $('#reportButton').hide();
    $('#mapButton').show();
    $('#reportCard').show();
  }

  function showMap() {
    $('#reportCard').hide();
    $('#mapButton').hide();
    $('#reportButton').show();
    $('#mapCard').show();
  }

$(document).ready(function() {
  $('#dataCard').hide();
  $('#mapButton').hide();

  var mapOptions = {
    zoom : 14,
    center : new google.maps.LatLng('23.300329','83.832497'),
    mapTypeId : google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
});

</script>