<!-- Main content -->
<section class="content" data-ng-init="init()">
    <div class="">
       <div class="row">
          <div class="col-md-12">
             <div class="card">
                <div class="card-header bg-info text-white"> Reports 
                    <div class="actions">
                        <span class="badge badge-dark">   Total: {{vm.totalNodesCount}} </span>
                        <span class="badge badge-success"> Active: {{vm.activeNodesCount}}  </span>            
                        <span class="badge badge-secondary">In-active: {{vm.totalNodesCount - vm.activeNodesCount}} </span>
                        <a class="btn btn-primary" href="api/v2/nodes/export_to_csv?columns={{reportColumns}}">CSV <i class="fa fa-download" aria-hidden="true" /></a>
                     </div>

                </div>
                <div class="card-body">
                  <div class="row mb-1">
                    <div class="col-md-6">
                        <select class="wselect hselect" data-ng-model="itemToAddBack">
                            <option data-ng-repeat="column in removedColumnNames">{{ column }}</option>
                          </select>
                          <button class="btn btn-default btn-sm" data-ng-click="addColumn()">Show Columns</button>
                    </div>
                    <div class="col-md-6 text-right">
                       Show <select class="hselect" data-ng-model="limit" data-ng-change="loadNodes()">
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                          </select> Entries
                    </div>
                   
                  </div>



                        <div class="table-responsive">
                            <table class="table table-bordered"">
                              <thead class="thead-light">
                              <tr>
                                <th scope="col" data-ng-show="showColumn(0)">System Name
                                  <span ><a title="remove" data-ng-click="removeColumn(0)"><i class="fa fa-times-circle" aria-hidden="true"></i></a> </span></th>
                                <th scope="col" data-ng-show="showColumn(1)">IP Address <span>
                                  <a title="remove" data-ng-click="removeColumn(1)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(2)">Serial Number <span >
                                  <a title="remove" data-ng-click="removeColumn(2)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(3)">MAC Address <span >
                                  <a title="remove" data-ng-click="removeColumn(3)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(4)">Model <span >
                                  <a title="remove" data-ng-click="removeColumn(4)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(5)">Firmware <span >
                                  <a title="remove" data-ng-click="removeColumn(5)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(6)">Product Type <span >
                                  <a title="remove" data-ng-click="removeColumn(6)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(7)">Radio Mode <span >
                                  <a title="remove" data-ng-click="removeColumn(7)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(8)">Op Mode <span >
                                  <a title="remove" data-ng-click="removeColumn(8)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(9)">Bandwidth <span >
                                  <a  title="remove" data-ng-click="removeColumn(9)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(10)">Channel <span >
                                  <a title="remove" data-ng-click="removeColumn(10)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(11)">Frequency <span >
                                  <a title="remove" data-ng-click="removeColumn(11)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                <th scope="col" data-ng-show="showColumn(12)">Ethernet Speed <span >
                                  <a title="remove" data-ng-click="removeColumn(12)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                  <th scope="col" data-ng-show="showColumn(13)">Latitude <span >
                                  <a title="remove" data-ng-click="removeColumn(13)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                  <th scope="col" data-ng-show="showColumn(14)">Longitude <span >
                                  <a title="remove" data-ng-click="removeColumn(14)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
                                  <th>#</th>

<!--
                                <th scope="col" data-ng-show="showColumn(11)">Operation Mode <span >
                                  <a title="remove" data-ng-click="removeColumn(11)"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></th>
-->
                              </tr>
                              </thead>
                              <tbody class="customtable">
                              <tr data-ng-repeat="node in vm.nodes">
                                <td data-ng-show="showColumn(0)">{{node.sysName}}</td>
                                <td data-ng-show="showColumn(1)"><a href="" ng-click="showNode(node.id,'app.reports')">{{node.primaryIP}}</a></td>
                                <td data-ng-show="showColumn(2)">{{node.assetRecord.serialNumber}}</td>
                                <td data-ng-show="showColumn(3)">{{node.macAddress}}</td>
                                <td data-ng-show="showColumn(4)">{{node.assetRecord.modelNumber}}</td>
                                <td data-ng-show="showColumn(5)">{{node.assetRecord.firmware}}</td>
                                <td data-ng-show="showColumn(6)">{{node.productcode}}</td>
                                <td data-ng-show="showColumn(7)">{{node.radioMode}}</td>
                                <td data-ng-show="showColumn(8)">{{node.opMode}}</td>
                                <td data-ng-show="showColumn(9)">{{node.bandwidth}}</td>
                                <td data-ng-show="showColumn(10)">{{node.channel}}</td>
                                <td data-ng-show="showColumn(11)">{{node.frequency}}</td>
                                <td data-ng-show="showColumn(12)">{{node.assetRecord.ethernetSpeed}}</td>
                                <td data-ng-show="showColumn(13)">{{node.assetRecord.latitude}}</td>
                                <td data-ng-show="showColumn(14)">{{node.assetRecord.longitude}}</td>
                                  <td>
                                  <a href="" ng-click="rescanNode(node.id)" class="badge bage-primary">
                                  <i class="fa fa-sync"></i>
                                  </a>
                                  <a href="" ng-click="deleteConfirm(node.id)" class="badge badge-danger">
                                      <i class="fa fa-trash"></i>
                                  </a>
                                  </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        
                </div>
             </div>
          </div>         
       </div>
       
      
    </div>
 </section>
 
